@import "tailwindcss";

@theme {
  --color-primary: #ffb6c1;
  --color-secondary: #ffc0cb;
  --color-dark: #000000;
  --color-light: #ffffff;
  --font-sans: "Inter", sans-serif;
}

/* Configuraciones base */
body {
  background-color: var(--color-dark);
  color: var(--color-light);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-sans);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}